@model IEnumerable<Retail_Product_Management_System.Models.ProductModel>
@{
    ViewData["Title"] = "Product";
}

<h1 class="text-center m-5">Product List</h1>
<div class="row m-5">
    <div class="col-lg mx-auto">
        <form class="form-inline justify-content-center" method="get" asp-action="Search">
            <input class="form-control m-1" type="search" placeholder="Enter Product Name ..." name="productNameOrId" />
            <input type="submit" class="btn-sm btn-primary" />
        </form>
    </div>
</div>


<div class="card-deck m-auto  text-center">
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                Html.RenderPartial("_ProductCard", item);
            }
        }
    }
</div>