@{
    ViewData["Title"] = "Home Page";

}
<div>
    <h1 class="text-center">About</h1>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg m-5">
            <h1 class='text-success'>Welcome!</h1>
            <h2>Know More About Us</h2>
            <hr>
            <p>
                Hello and welcome to Retail Product Mart, the place to find the best products category from clothing to electronics for every taste and occasion.
                We thoroughly check the quality of our goods, working only with reliable suppliers so that you only receive the best quality product.
                We at Retail Product Mart believe in high quality and exceptional customer service.
            </p>
            <p>
                We Aim to satisfy customers all over the world, and are thrilled to be a part of the industry.The interests of our customers are always top priority 
                for us, so we hope you will enjoy our products as much as we enjoy making them available to you.
            </p>
            <button type="button" class="btn btn-success">Let's Know More</button>
        </div>
        <!-- Grid column -->
        <div class="col-lg m-5">
            <img class="img-fluid rounded" src="https://i.pinimg.com/originals/e4/b2/97/e4b297b2854e8c83136f5a52dda45cfb.jpg" alt="About Us">
        </div>
    </div>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg order-lg-2 m-5">
            <h1 class='text-success'>Goal</h1>
            <h2>Our Vission</h2>
            <hr>
            <p>
                "Retail Product Mart" pioneers communities built on commerce, sustained by trust, and inspired by opportunity. Our Company aspires to brings together millions of people every day on a local,
                national and international basis through an array of websites that focus on commerce, payments and communications.
            </p>
            <p>
                Our vision is to be Earth’s most customer-centric company, to build a place where people can come to find and discover anything they might want to buy online.
            </p>
            <button type="button" class="btn btn-success">Let's Know More</button>
        </div>
        <!-- Grid column -->
        <div class="col-lg order-lg-1 m-5">
            <img class="img-fluid rounded shadow-lg" src="https://stevens-tate.com/wp-content/uploads/iStock-627668918_eps-Converted.jpg" alt="About Us">
        </div>
    </div>
</div>
